body { 
    background: #F6F6F6; 
    font-family: 'Manrope', sans-serif;
  }

  .job-titles { 

  }

  .job-videos {
      border-radius:4px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
  }

  .job-links {
      text-align: right;
      font-size: 14px;
      line-height: 24px;
  }

  .job-links a {
    color:#000;
    }

      /* Alterar o gutter (espaçamento entre colunas) */
  .row {
      --bs-gutter-x: 8px; /* Espaçamento horizontal */
      --bs-gutter-y: 8px; /* Espaçamento vertical */
  }
  
  /* Ajustar a largura do container em diferentes breakpoints */
  @media (min-width: 576px) {  /* sm */
      .container {
          max-width: 738px;
      }
  }
  
  @media (min-width: 768px) {  /* md */
      .container {
          max-width: 960px;
      }
  }
  
  @media (min-width: 992px) {  /* lg */
      .container {
          max-width: 1168px;
      }
  }
  
  @media (min-width: 1200px) { /* xl */
      .container {
          max-width: 1368px;
      }
  }
  
  @media (min-width: 1400px) { /* xxl */
      .container {
          max-width: 1888px;
      }
  }