/* ------- Global styles ------- */

  body { 
    background: #F1EFED; 
    font-family: 'Manrope', sans-serif;
    color:#19171A;
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 500;
  }

  ::selection {
    background: #19171A;
    color:  #F6F6F6; 
  }

  p {
    line-height: 1.7em;
  }

  a {
    color:#19171A;
  }

/* ------- menu da home ------- */ 

  .logo {
    position: absolute;
    left: 9px;
    top: 6px;
  }

  .logo img {
    width: 64px;
  }

  .simple-menu {
    text-align: right;
    border-bottom: 0px solid #CCCDCC;
    padding: 0px 8px 0px 0px;
  }

  .nav-link {
    display: block;
    padding: 8px 4px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    color: #19171A;
    text-decoration: none;
  }

  .menu-item, .footer-item {
    display: inline-block;
    padding: 8px 4px;
  }

/* ------- home ------- */ 

  h1 {
    /* font-size: calc(1.6rem + 1.4vw); */
    font-size: 50px;
    font-weight: 400;
  }

  .home-title {
    font-size: 50px;
  }

  .home-text {
    font-size: 14px;
    padding: 40px 128px 0px 64px;
  }

  .job-row {
    margin-top: 16px;
    margin-bottom: 88px;
  }

  .job-videos {
    border-radius:4px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .job-links {
    text-align: right;
    font-size: 16px;
    line-height: 28px;
  }

  .job-links a {
    color:#19171A;
  }


/* -------- footer da home ----------*/ 

  .complex-footer {
    background-color: #19171A;
    color: #F1EFED;
    padding: 16px; 
    font-weight: 400;
  }

  .complex-footer .row{
    margin-bottom: 88px; 
  }

  .meu-svg {
    transition: all 0.3s ease-in-out;
    margin-left: 4px;
  }

  .meu-svg path:hover {
    fill: #3D3C43;
  }


/* ------- job details ------- */ 

  .job-hero { 
    margin-bottom: 32px;
  }

  .job-hero h1 {
    margin-top: 8px;
  }

  .job-hero .arrow a {
    font-size: 28px;
    text-decoration: none;
    color:#19171A;
  }

  .job-text-details {
    padding: 80px 128px 24px 112px;
    position: sticky;
    bottom: 0px;
    height: auto;
    align-self: flex-end;
  }

  .job-text-details h2 {
    font-size: 16px;
    font-weight: 400;
    color:#787875;
    margin-bottom: 16px;
  }

  .text-big {
    font-size: 16px;
    line-height: 1.8em;
    font-weight: 500;
  }

  .job-sections {
    padding: 64px 0px;
    border-top: 1px solid #CCCDCC;
  }

  .big-idea {
    font-size: 22px;
    line-height: 1.45em;
    font-weight: 700;
  }

  .case-item {
    margin-bottom: 8px;
  }

  .case-item img {
    width: 100%;
    height: auto;
  }


/* ------- footer details ------- */ 

  .next-project p{
    font-size: 48px;
    line-height: 1em;
    text-transform: uppercase;
  }

  .next-project svg{
    vertical-align: top;
  }

  .next-project a {
    text-decoration: none;
  }

  .next-project {
    border-top: 4px solid #19171A;
    padding: 32px 0px 0px;
    text-align: center;
    margin-top: 128px;
  }

  .boxes {
    padding: 0px;
  }

  .boxes li{
    display: inline-block;
    width: 40px;
    height: 12px;
  }

  .next {
    color:#D5D3D1;
    padding-right: 8px;
  }

  .project-name {
    font-size: calc(1.6rem + 1.4vw);
    font-weight: 400;
  }

/* ------ about -------- */

  .contact-info {
    font-size: 18px;
    font-weight: 700;
  }



/* Alterar o gutter (espaçamento entre colunas) */
  .row {
      --bs-gutter-x: 8px; /* Espaçamento horizontal */
      --bs-gutter-y: 8px; /* Espaçamento vertical */
  }
  
  /* Ajustar a largura do container em diferentes breakpoints */
  @media (max-width: 767px) {  /* sm */
      .container {
          max-width: 738px;
      }

      .job-links {
        text-align: left;
      }
  
      .job-text-details {
        padding: 32px 16px;
      }
  
      .job-sections {
        padding: 32px 0px;
      }
  
      .home-title {
        padding: 0px;
        font-size: 34px;
      }
    
      .home-text {
        font-size: 16px;
        padding: 40px 40px 0px 0px;
      }

  }
  
  @media (max-width: 991px) {  /* md */
      .container {
          max-width: 960px;
      }

      .home-text {
        font-size: 14px;
        padding: 40px 16px 0px 16px;
      }
  
      .home-title {
        font-size: 44px;
      }
  
  }
  
  @media (max-width: 1199px) {  /* lg */
      .container {
          max-width: 1168px;
      }
  }
  
  @media (max-width: 1399px) { /* xl */
      .container {
          max-width: 1368px;
      }
  }
  
  @media (min-width: 1400px) { /* xxl */
      .container {
          max-width: 1888px;
      }
  }